/* Basic Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


/* Navbar */

header {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;

    background-color: white;
}


/* Logo */

header img {
    width: 95px;
}


/* Navigation */

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
}


/* Navbar Button */

header button {
    background-color: #2864e6;
    color: white;

    border: none;
    border-radius: 5px;

    padding: 12px 22px;

    font-weight: bold;
}


/* Hero */

.hero {
    min-height: 500px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px;

    color: white;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
        url("assets/banner.jpg");

    background-size: cover;
    background-position: center;
}


/* Hero Heading */

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h1 em {
    font-style: italic;
}


/* Hero Paragraph */

.hero p {
    max-width: 700px;

    line-height: 1.5;

    font-size: 15px;
}


/* Hero Button */

.hero button {
    margin-top: 30px;

    background-color: #2864e6;
    color: white;

    border: none;
    border-radius: 5px;

    padding: 15px 32px;

    font-weight: bold;
}
/* ================= SPEAKERS ================= */

.speakers {
    padding: 70px 7%;
    text-align: center;
}

.speakers h2 {
    font-size: 36px;
    margin-bottom: 40px;
}


/* Speaker Cards */

.speaker-container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

    max-width: 900px;

    margin: auto;
}


.speaker-card {
    text-align: left;

    border: 1px solid #dddddd;

    border-radius: 8px;

    overflow: hidden;

    background-color: white;
}


/* Speaker Image */

.speaker-card img {
    width: 100%;

    height: 220px;

    object-fit: cover;

    display: block;
}


/* Category */

.speaker-card .category {
    color: #2864e6;

    font-size: 11px;

    font-weight: bold;

    margin: 18px 15px 8px;
}


/* Speaker Name */

.speaker-card h3 {
    font-size: 17px;

    margin: 0 15px 8px;
}


/* Speaker Company */

.speaker-card > p:last-child {
    color: #666666;

    font-size: 12px;

    margin: 0 15px 18px;
}